.container {
  border: solid green;
  width: 1fr;
  height: 1fr;
}

#player-name {
  text-style: bold;
  color: black;
  content-align: center middle;
  background: lightgrey
}

.heart {
  color: lightcoral;
}

.star {
  color: lightblue;
}

.thunder {
  color: lightgreen;
}

.location-key {
  text-style: bold;
  color: black;
  content-align: center middle;
  background: green;
}

.game-state-list {
  align-vertical: top;
}

.player-box {
  layout: horizontal; 
  height: auto;
  align-vertical: middle;
  width: 100%;
}

.player-box Static {
  width: auto; 
  padding: 0 1;
}
